<!-- employee_list.html -->
<h1>Liste des Employés</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Date de Naissance</th>
      <th>Genre</th>
      <th>Adresse</th>
      <th>Téléphone</th>
      <th>Photo</th>
      <th>Département</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.date_of_birth }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.address }}</td>
      <td>{{ employee.phone_number }}</td>
      <td>{{ employee.photo_url }}</td>
      <td>{{ employee.department }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
