<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil</h1>
    <ul>
        <li><a href="{% url 'employee_list' %}">Liste des employés</a></li>
        <li><a href="{% url 'leave_request' %}">Faire une demande de congé</a></li>
        <li><a href="{% url 'leave_list' %}">Liste des congés</a></li>
        <li><a href="{% url 'shared_calendar' %}">Calendrier partagé</a></li>
        <li><a href="{% url 'calendar' %}">Calendrier des congés</a></li>

    </ul>
</body>
</html>
