<!DOCTYPE html>
<html>
  <head>
    <title>Demande de Congé</title>
  </head>
  <body
    style="font-family: Arial, sans-serif; text-align: center; margin: 20px"
  >
    <h1 style="color: #4caf50">Demande de Congé</h1>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'submit_leave_request' %}"
      style="
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
      "
    >
      {% csrf_token %}

      <!-- Affichage des erreurs du formulaire -->
      {% if form.errors %}
      <div style="color: red; margin-bottom: 20px">
        <ul style="list-style-type: none; padding: 0">
          {% for field in form %} {% for error in field.errors %}
          <li style="margin-bottom: 10px">
            <strong>{{ field.label }}:</strong> {{ error }}
          </li>
          {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
          <li style="margin-bottom: 10px">
            <strong>Erreur:</strong> {{ error }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- Affichage du formulaire -->
      {{ form.as_p }}
      <!-- Affiche le formulaire avec des balises <p> pour chaque champ -->

      <button
        type="submit"
        style="
          background-color: #4caf50;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        "
      >
        Soumettre
      </button>
    </form>

    <!-- Optionnel : Ajoutez des liens pour naviguer dans l'application -->
    <div style="margin-top: 20px">
      <a
        href="{% url 'home' %}"
        style="color: #007bff; text-decoration: none; margin-right: 15px"
        >Retour à l'accueil</a
      >
      <a
        href="{% url 'leave_list' %}"
        style="color: #007bff; text-decoration: none"
        >Voir la liste des demandes de congés</a
      >
    </div>
  </body>
</html>
