<h1>Liste des Congés</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type de Congé</th>
      <th>Date de Début</th>
      <th>Date de Fin</th>
      <th>Employé</th>
      <th>Manager</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    {% for leave in leaves %}
    <tr>
      <td>{{ leave.id }}</td>
      <td>{{ leave.get_type_of_leave_display }}</td>
      <td>{{ leave.start_date }}</td>
      <td>{{ leave.end_date }}</td>
      <td>{{ leave.employee.first_name }} {{ leave.employee.last_name }}</td>
      <td>
        {{ leave.approved_by.username if leave.approved_by else 'Non approuvé'
        }}
      </td>
      <td>{{ leave.get_status_display }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">Aucun congé enregistré.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
